ol {
	list-style-type: upper-roman;
}

/* change ordered list from 123 to Roman numerals */

ul {
	list-style-type: square;
}

/* make unordered list from circular bullet points to squares */


	
		p {
			color: red;
			background: yellow;
			font-weight: bold;
			font-size: large;
			text-align: center;
			text-shadow: black 12px -24px 20px, teal -10px 22px 18px;
		}

		
